thead,
tbody {
  text-align: center;
}

button {
  border: none;
  background-color: #ccc;
  border-radius: 20px;
  font-weight: bold;
  padding: 5px;
}

#selectbox.option {
  text-align: left;
}

#locdiv {
  text-align: center;
}
