<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>fullcalendar</title>
    <link href="./fullcalendar.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.0.2/index.global.min.js"></script>
  </head>
  <body>
    <div id="firdiv">
      <button id="monthly" class="mkbtn">월별 보기</button>
      <button id="btnout" class="mkbtn">로그아웃</button>
    </div>
    <div id="calendar"></div>
    <div id="ttdv"><button id="totalbtn" class="mkbtn">총합 확인</button></div>
    <h3 id="totalprice"></h3>
    <script src="fullcalendar.js"></script>
  </body>
</html>
