<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>fullcalendar</title>
    <link href="./fullcalendar.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.0.2/index.global.min.js"></script>
  </head>
  <body>
    <div id="firdiv"><button id="monthly">월별 보기</button></div>
    <div id="calendar"></div>
    <h3 id="totalprice"></h3>
    <div id="logout"><button id="btnout">로그아웃</button></div>
    <script src="fullcalendar.js"></script>
  </body>
</html>
