<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Font online-->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />

    <!--        Animate.css-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"
    />

    <link rel="stylesheet" href="/index.css" />

    <style>
      #container {
        height: 1080px;
      }
    </style>

    <!-- Google JQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <div>
      <div class="panel shadow1" id="container">
        <div class="panel-switch animated fadeIn">
          <button type="button" id="log_in" class="" disabled>정보 조회</button>
        </div>
        <h1 class="animated fadeInUp animate1" id="title-login">
          My Account Note
        </h1>
        <h3 class="animated fadeInUp animate1" id="subTitle-login">
          우리집 작은 소비 노트
        </h3>
        <div id="login-fieldset">
          <fieldset>
            <ul>
              <li>
                <input
                  id="username"
                  class="login animated fadeInUp animate2"
                  name="username"
                  type="textbox"
                  required
                  placeholder="Username"
                  value=""
                />
              </li>
              <li>
                <input
                  id="birthdate"
                  class="login animated fadeInUp animate3"
                  name="birthdate"
                  type="date"
                  required
                  value=""
                />
              </li>
              <li>
                <input
                  id="passwordlookup"
                  class="login animated fadeInUp animate3"
                  name="password"
                  type="text"
                  required
                  placeholder="이곳에 비밀번호가 표시됩니다"
                  value=""
                  readonly
                />
              </li>
            </ul>
            <button
              id="login-form-submit"
              class="login_form button animated fadeInUp animate4"
            >
              정보 조회
            </button>
            <p>
              <a
                id="lost-password-link"
                href="/"
                class="animated fadeIn animate5"
                >로그인 페이지로!</a
              >
            </p>
          </fieldset>
        </div>
      </div>
    </div>
    <script src="/passwordlookup.js"></script>
  </body>
</html>
